@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/circular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quarto";
  src: url("./assets/fonts/Quarto/Quarto-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body, nav {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238 65 55);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.circular {
  font-family: "Circular";
}

.quarto {
  font-family: "Quarto";
}

a.nav-link {
  color: white;
}

.card-img-top {
  background-color: #000;
}
